*{
    font-family: sans-serif;
    box-sizing: border-box;
}

html{
font-size: 16px;
margin-top: 3em;
}

header,
main,
footer{
    max-width: 800px;
    margin: 0 auto;
}

h1, h2, h3{
color:orangered;
}

body{

    font-size: small;
}

header{
    padding: 2em 0;
}

header h1{
    font-size: 3em;
}

header span{
    font-size: 1.5em;
    color: #999999;
}



nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: grey;
    display: flex;
    flex-flow: row;
    justify-content: center;

}

nav a{
    padding: .5em 2em;
color: white;
text-decoration: none;
}

nav a:hover{
    color: violet;
}

section{
    margin: 1em 0;
    padding-top: 3em;
    min-height: 20em;
}

section > p{
    margin: 1em;
}

#products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;
    
}

#products article{
margin: 5px;
padding: 1em;
background-color: lightgray;
}

#products article img{
    width: 100%;
    
}

footer{
    margin-top: 2em;
    margin-bottom: 1em;
    background: #666666;
    color: whitesmoke;
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 1em;
}